<!DOCTYPE html>
<html>
<head>
  <title>Snarky Pucks</title>
  <meta name="description" content="The online party game where your rapier wit and stunning insight will earn you bonuses beyond the mere admiration of your peers.">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if @mobile %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/icon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
  <% end %>
</head>
<body>
<% if @mobile %>
  <div class="container-fluid">
    <%= yield %>
  </div>
<% else %>
  <%= yield %>  
<% end %>
</body>
</html>
